/.env
/.idea/jsLibraryMappings.xml
./configs/
/configs/
configs/
./configs/zitadel-service-user-key.json
configs/zitadel-service-user-key.json
/configs/zitadel-service-user-key.json
/.idea/Notion-Database-Form.iml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_08_23,_21_54_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_08_23,_21_54_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_08_23__21_54__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_08_23__21_54__Changes_1.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_08_23,_21_54_[Changes]1/shelved.patch
